@model IEnumerable<WebBanSach.Models.TheLoai>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_TheLoai">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_TheLoai">Details</a> |
@*                <a asp-action="Delete" asp-route-id="@item.ID_TheLoai">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
